<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0ce231ad-b1f4-4912-ac5b-bfa37919ff6a/resourcegroups/LlamadaRemota20260222211824ResourceGroup/providers/Microsoft.Web/sites/LlamadaRemota20260222211824</ResourceId>
    <ResourceGroup>LlamadaRemota20260222211824ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0ce231ad-b1f4-4912-ac5b-bfa37919ff6a/resourceGroups/llamadaRemota/providers/Microsoft.ApiManagement/service/LlamadaRemotaapi/apis/LlamadaRemota</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://llamadaremota20260222211824-e0cwdsc2abgzaqfx.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>54112c05-9832-f2f3-8df3-f7f8ac786170</ProjectGuid>
    <MSDeployServiceURL>llamadaremota20260222211824-e0cwdsc2abgzaqfx.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LlamadaRemota20260222211824</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>